 /* Base Styles */
 :root {
    --primary: #2563eb;
    --secondary: #3b82f6;
    --dark: #1e293b;
    --light: #f8fafc;
    --text: #334155;
    --transition: all 0.3s ease;
}


/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 0;
    z-index: 1000;
    transition: var(--transition);
}

.navbar-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.938);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
    text-decoration: none;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    color: var(--dark);
    text-decoration: none;
    font-weight: 600;
    transition: var(--transition);
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary);
    transition: var(--transition);
}

.nav-link:hover {
    color: var(--primary);
}

.nav-link:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: var(--transition);
    background-color: var(--dark);
}
        
        
        
        /* Media Queries */
        @media (max-width: 768px) {
            h1 {
                font-size: 2.5rem;
            }
            
            h2 {
                font-size: 2rem;
            }
            
            .navbar-container {
                padding: 0 1rem;
            }
            
            .nav-menu {
                position: fixed;
                top: -100%;
                left: 0;
                width: 100%;
                flex-direction: column;
                background-color: white;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                text-align: center;
                transition: var(--transition);
                padding: 2rem 0;
            }
            
            .nav-menu.active {
                top: 0;
            }
            
            .nav-item {
                margin: 1rem 0;
            }
            
            .hamburger {
                display: block;
            }
            
            .hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }
            
            .hamburger.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
            
            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }